body {
    background-color: #262626;
}

/* navbar styling */
nav {
    background-color: #922D2D;
}

.nav-link {
    color: whitesmoke;
}

.dropdown-menu {
    background-color: #922D2D;
    max-height: 300px;
    overflow-y: scroll;
}

.dropdown-item {
    color: whitesmoke;
}
/* end of nav styling */

/* title styling */
